/Shkurenko2/nbproject/private/
/Shkurenko2/build/
/Shkurenko3/nbproject/private/
/Shkurenko4/nbproject/private/
/Shkurenko4/build/
/Shkurenko5/nbproject/private/
/Shkurenko5/build/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/